<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="Command Palette Unit Tests">
			<directory suffix="Test.php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>
